@charset "UTF-8";
/* 문자 인코딩 UTF-8 */
/* 반드시 첫줄에 와야 한다 */

/*mystyle.css*/
/* https://www.w3schools.com/cssref/css_selectors.asp */

*{font-family: 궁서체; font-size: 15px; font-style: italic; font-weight: bold;}
/*모든 요소들*/

body{background-color: yellow; margin: 0; padding: 0;}
.line{border:1px solid gray;}

#mylayer{width: 200px; height: 200px; background-color: aqua;}